body {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

.dropbox {
    display: flex;
}

.workout-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    border: 1px solid #292828;
    line-height: 0;
    display: flex;
    margin: auto;
    padding: 2em;
    margin-bottom: 1em;
}

.workout-box {
    background-color: lightblue;
}

#date { 
    margin-top: 0;
}

#line-break {
    border: 1px solid black;
    margin: 1em;
}