body {
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-color: #FBFFF1;
    color: #383F51;
}

h1 {
    margin: 1.5em 0 0;
}

.dropbox {
    display: flex;
}

.workout-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    border: 2px solid #383F51;
    line-height: 0;
    display: flex;
    margin: auto;
    width: 80%;
    height: 3em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    font-weight: 600;
    border-radius: 16px;
    font-size: 150%;
}

.workout-box {
    background-color: lightblue;
    position: relative;
}

.subheading { 
    margin: 0 0 1.5em;
}

#line-break {
    border: 1px solid #383F51;
    margin: .5em 1em 2em;

}

.info-icon {
    position: absolute ;
    width: 1em;
    height: 1em;
    right: .1em;
    top: .1em;
}

.back-arrow-redirect {
    position: absolute ;
    width: 3em;
    height: 3em;
    left: 2em;
    top: 3.5em;
}

.exercise-list {
    font-size: 150%;
}

.clear-btn {
    margin-top: 0;
    align-self: center;
    background-color: #ff9999;
    border: 3px solid #ff6666;
    border-radius: 16px;
    width: 50%;
    padding: .2em;
    align-items: center;
    margin: auto;
}